footer {
    width: 50000px;
  }
  
  .copyright {
    text-align: center;
    font-size: 14px;
    width: 100%;
    /* margin: 75px auto 18px; */
  }
  
  .fa-github {
    font-size: 36px;
    margin-bottom: 12px;
  }